
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
</head>
<body>
<!--<form method="GET" action="EditOrderUPdate.php" > -->
  <div class="layui-form" lay-filter="layui-form-useradmin" id="layuiform-useradmin" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
      <label class="layui-form-label">用户编号</label>
      <div class="layui-input-inline">
        <input type="text" name="username" id="username"  lay-verify=""  placeholder="请输入" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">姓名</label>
      <div class="layui-input-inline">
        <input type="text" name="u_name"  id="u_name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">密码</label>
      <div class="layui-input-inline">
        <input type="password" name="password"  id="password" lay-verify="required" placeholder="请输入"  autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">用户类别</label>
      <div class="layui-input-inline">
        <select class="seloption" lay-filter="roleId" name="roleId" id="roleId">
      </select>
      </div>
    </div>
  </div>
<!--</from>-->
  <script src="../../static/layui/layui.js" ></script>
  <script>
    layui.config({
    base: '../../static/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index','user','form','jquery','layer'], function(){
  var layer = layui.layer //弹层
  var $ = layui.$;
    // 修改
  $( function () {
    selectRole();
    function selectRole(){
      
      $("#roleId").append("<option value=''>请选择</option>");
      //下拉框做成
      $.ajax({
          type:'post',
          url: '../../model/user/userlist.php',
          data: {'type':'SELECT_R'},
          dataType:'json',
          async:false, 
          success:function (data) {
          $.each(data.data, function (index,item) {
          $('#roleId').append(new Option(item.rolename,item.id));
          });
          layui.form.render("select");
          } ,error: function () {
          alert("查询失败")
          }
        });
    }
});
});
</script>
</body>
</html>