<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 网站用户</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../static/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">用户编号</label>
            <div class="layui-input-block">
              <input type="text" name="username" id="username"  placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
         
          <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
              <input type="text" name="name"  id="name" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">用户类别</label>
            <div class="layui-input-block">
              <select class="seloption" lay-filter="role" name="role" id="role"></select>
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">删除</button>
          <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
          <button class="layui-btn layuiadmin-btn-useradmin" data-type="reload">刷新</button>
        </div>
        
        <table id="LAY-user-manage" lay-filter="LAY-user-manage"></table>
        <script type="text/html" id="imgTpl"> 
          <img style="display: inline-block; width: 50%; height: 100%;" src= {{ d.avatar }}>
        </script> 
        <script type="text/html" id="table-useradmin-webuser">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
         <!-- <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>-->
        </script>
      </div>
    </div>
  </div>

  <script src="../../static/layui/layui.all.js"></script>
  <script>
  layui.config({
    base: '../../static/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index','table','user','form','jquery','layer'], function(){
    var $ = layui.$
    ,form = layui.form
    ,admin = layui.admin
    ,table = layui.table;
    var layer=layui.layer;
    //下拉框
    selectRole();
    function selectRole(){
        $("#role").append("<option value=''>请选择</option>");
        //下拉框做成
        $.ajax({
            type:'post',
            url: '../../model/user/userlist.php',
            data: {'type':'SELECT_R'},
            dataType:'json',
            success:function (data) {
            $.each(data.data, function (index,item) {
            $('#role').append(new Option(item.rolename,item.id));
            });
            layui.form.render("select");
            } ,error: function () {
            alert("查询失败")
            }
          });
      }
    var userTable=table.render({
        elem: "#LAY-user-manage",
        url: '../../model/user/userlist.php',
       page: {//开启分页
          layout: ['count', 'prev', 'page', 'next', 'limit','refresh', 'skip']
          ,first: '首页'
          ,last:'尾页'
        },
        method:'post',
        cols: [[{ type: "checkbox", fixed: "left" },
        { field: "用户编号", minWidth:120, title: "用户编号", sort: !0 },
        { field: "姓名", title: "姓名", minWidth: 100 },
        { field: "密码", title: "密码", minWidth: 400 },
        { field: "rolename", title: "用户类别", minWidth: 100},
        { title: "操作", width: 150, align: "center", fixed: "right", toolbar: "#table-useradmin-webuser" }
        ]],
        where : {
               token:layui.sessionData(layui.setter.tableName)['token'],
               type : 'SELECT_TB',
          } ,
     
        //height: "full-220",
        text: "对不起，加载出现异常！"
    })

    //监听搜索
    form.on('submit(LAY-user-front-search)', function(data){
      var field = data.field;
      
      //执行重载
      table.reload('LAY-user-manage', {
        where: field,page: {
        curr: 1 //重新从第 1 页开始
        }
      });
    });
  
    //事件
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-user-manage')
        ,checkData = checkStatus.data; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择数据');
        } 
          layer.confirm('确定删除吗？', function(index) {
                //请求登入接口
              admin.req({
                url: '../../model/user/userlist.php',
                data: {'checkData':checkData,'type':'DELETE_T'},
                method:'post',
                done: function(res){
                  if(res.msg =='删除成功'){
                    table.reload('LAY-user-manage');
                    layer.msg('已删除');
                  }else{
                    layer.msg(res);
                  }
                }
          });
        });
        
      }
      ,add: function(){
        layerOpen('增加信息','./userform.html','INSERT_E','更新成功');
      }
       ,reload: function(){
            //执行重载
          table.reload('LAY-user-manage', {
            page: {
            curr: 1 //重新从第 1 页开始
            }
      });
      }
    };
    table.on('tool(LAY-user-manage)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
    var data = obj.data //获得当前行数据
    ,layEvent = obj.event; //获得 lay-event 对应的值
    if( layEvent === 'edit'){
         layerOpen('修改信息','./EditUser.html?id='+data.用户编号,'UPDATE_E','更新成功');
        }
    });  
    $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
    function layerOpen(title,url,type,msg){
        layer.open({
                type: 2,
                title: title,
                fixed: false,
                maxmin: true,
                area: ['500px','450px'],
                shadeClose: true,
                content:url,
                btn: ['确定','取消'],
                yes: function(index, layero){
                  var role =$(layero).find('iframe')[0].contentWindow.roleId.value;
                  if(role==null || role==''){
                    layer.msg('请选择用户类别', { icon: 5 }); //提示
                  }else{
                  $.ajax({
                      url: '../../model/user/userlist.php',
                      data: {
                              'type':type,
                              'username':$(layero).find('iframe')[0].contentWindow.username.value,
                              'name':$(layero).find('iframe')[0].contentWindow.u_name.value,
                              'role':$(layero).find('iframe')[0].contentWindow.roleId.value,
                              'password':$(layero).find('iframe')[0].contentWindow.password.value
                              },
                      method:'post',
                      dataType:'json',
                      success:function(data){
                           layer.msg(data.msg);
                          if(data.msg=msg && data.code !=1){
                            layer.close(index);
                          }  
                     
                        },
                          error:function(data){
                              $.messager.alert('错误',data.msg);
                        }
                    });
                  }
                },
               end: function () {  //刷新页面
                  // location.reload();
                  table.reload('LAY-user-manage');
                }

            });
      }
  });
  </script>
</body>
</html>