<div class="nav-left col-md-2 no-padding" id="nav-list-left">
    <div class="user-panel">
        <img src="Public/images/user.jpg" class="img-circle center-block" />
    </div>
    <div class="nav-list" >
        <ul>
        <!--
            <li>
           <a href="index.php">车源信息查询</a>
            </li>
            <li>
             <a href="order.php">发货单管理</a> 
            </li>
            <li>
                <a href="customer.php">客户信息管理</a> 
            </li>
            <li>
              <a href="car.php">车源信息管理</a>
            </li>
         -->
            <li>
                <a href="dingdan_add.php">新增订单号</a>
            </li>
            <li>
                <a href="dingdan.php">订单查询</a>
            </li>
            <li>
                <a href="admin_user.php">用户信息管理</a>
            </li>
        </ul>
    </div>
</div>
