<nav class="navbar navbar-default row no-yj  navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-list-left" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>OMS
            </button>
            <a class="navbar-brand" href="#">开洋木业外贸销售订单OMS</a>
        </div>
        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="height: 50px">
                    <img class="img-circle pull-left img-responsive nav-user-img" src="Public/images/user.jpg" /><span class="pull-left nav-username">管理员</span></a>

                    <ul class="dropdown-menu dropdown-menu-right clearfix" style="padding-top: 0px">
                        <li class="user-li-head"><span>
                                    <img class="img-circle nav-user-img-xiala center-block" src="Public/images/user.jpg" /></span>
                            <p></p>
                            <p class="text-center"><span>管理员</span></p>
                        </li>
                        <li style="padding: 10px 20px; padding-bottom: 20px">
                            <div class="pull-left">
                                <a href="change_pwd.php" class="btn btn-default btn-flat no-yj">密码</a>
                            </div>
                            <div class="pull-right">
                                <a href="logout.php" class="btn btn-default btn-flat no-yj">退出</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>