<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>资产设备表</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" />
	
</head>
<body >
	<style type="text/css">
		.layui-table-header{width: auto; overflow: visible;}
		.layui-table-box,.layui-table-body{ width: auto;overflow: visible;}
		.table-overlay .layui-table-cell{height: auto; overflow: visible;}
	</style>
	<div >

		 <div class="layui-fluid">
			<label class="layui-btn ">设备资产表</label>
		  </div>
			</br>
			<div class="layui-fluid">
			&nbsp;&nbsp;&nbsp;&nbsp;设备编号:&nbsp;&nbsp;&nbsp;&nbsp;
			<div class="layui-inline">
			  <input class="layui-input" name="设备编号" id="设备编号" autocomplete="off">
			</div>
			&nbsp;&nbsp;&nbsp;名称:&nbsp;&nbsp;&nbsp;&nbsp;
			<div class="layui-inline">
			  <input class="layui-input" name="名称" id="名称" autocomplete="off">
			</div>
			<button class="layui-btn" data-type="reload">搜索</button>
		  </div>
		  <br>
		  <div class="layui-form-item">
			<label class="layui-form-label"  style="text-align: center;">大类</label>
			<div class="layui-input-block" style="width: 50%;"id="tag_ids2">
			</div>
		<div>
			 

		<div class="layui-card">
			<div class="layui-card-body layui-text">
				<div id="toolbar">
					<div class="layui-inline">
						<div class="layui-upload">
							<button type="button" class="layui-btn layui-btn-normal" id="upload-change">选择文件</button>
							<input type="button"  class="layui-btn" id="upload-change-action" value="Excel导入"></input>
						  </div>
					</div>
					<br>
					<div >
						<button type="button" class="layui-btn layui-btn" data-type="addRow" title="添加一行">
							<i class="layui-icon layui-icon-add-1"></i> 添加一行
						</button>
					</div>
					
				</div>
				<div id="tableRes" class="table-overlay">
					<table id="dataTable" lay-filter="dataTable" class="layui-hide"></table>
				</div>
				<div id="action" class="text-center">
					<button type="button" name="btnSave" class="layui-btn" data-type="save"><i class="layui-icon layui-icon-ok-circle"></i>保存</button>				
					<button type="button" name="btnReset" class="layui-btn layui-btn-primary" data-type="reset">取消</button>
				</div>
			</div>
		</div>
	</div>
	<!--recommended script position-->
	<script src="../../static/layui/layui.js" charset="utf-8"></script>
	<script src="../../static/modules/selectM.js" charset="utf-8"></script>
	<script type="text/javascript">
	//layui 模块化引用
		layui.use(['jquery', 'table', 'layer','selectM','laydate','upload'], function(){
			var $ = layui.$, table = layui.table, form = layui.form, layer = layui.layer;
			var selectM = layui.selectM;
			var laydate = layui.laydate;
			var upload = layui.upload;
			
			//获取基础数据
			var result='';
			function GetAndUpateData(type,id,DataArr,bigType) {
					$.ajax({
						url:'../../model/device/deviceList.php',
								type:"post",
								dataType:"JSON",
								data:{'type':type,
									  'id':id,
									  'data':DataArr,
									  'bigType':bigType,
									  'name':$('#名称').val(),
									  'sbbh':$('#设备编号').val()
									},
						async:false, 
						success: (data) => {
						
							switch (type){
								case 'SELECT_TY':
								case 'SELECT_TB':
										result=data.data;
										break;
								case 'UPIN': 
								case 'DELETE':
								default:
									result=data.msg;
									break;

							}
						
						},
						error:function(data){
						
							$.messager.alert('错误',data.msg);
						}
					})
			
				return result;
			};
		// 大类下拉框
		var typeData=GetAndUpateData('SELECT_TY','','','');
		 //多选标签-所有配置
		var tagIns2 = selectM({
			//元素容器【必填】
			elem: '#tag_ids2'
			//候选数据【必填】
			,data: typeData
			//默认值
		//	,selected: [12,17] 			
			//最多选中个数，默认5
			,max : 6
			//input的name 不设置与选择器相同(去#.)
			,name: 'tag2'
			//值的分隔符
			,delimiter: ','
			//候选项数据的键名
			,field: {idName:'序号',titleName:'大类'}
		});
		var tbData=GetAndUpateData('SELECT_TB','','',tagIns2.values);
	
			//准备视图对象
		window.viewObj = {
			tbData: tbData,
			typeData:typeData,
			renderSelectOptions: function(data, settings){
				settings =  settings || {};
				var valueField = settings.valueField || 'value',
					textField = settings.textField || 'text',
					selectedValue = settings.selectedValue || "";
				var html = [];
				for(var i=0, item; i < data.length; i++){
					item = data[i];
					html.push('<option value="');
					html.push(item[valueField]);
					html.push('"');
					if(selectedValue && item[valueField] == selectedValue ){						
						html.push(' selected="selected"');
					}			
					html.push('>');		
					html.push(item[textField]);
					html.push('</option>');
				}
				return html.join('');
			}
		};

	

		
			//数据表格实例化			
            var tbWidth = $("#tableRes").width();
			var layTableId = "layTable";
			var tableIns = table.render({
				elem: '#dataTable',
				id: layTableId,
				data: viewObj.tbData,
				limit: 1000,
				lineheight: 40,
				loading: true,
				even: false, //不开启隔行背景
				cols: [[
					{title: '序号', type: 'numbers',width:60, align: 'center'},
					{field: '设备编号', title: '设备编号',width:90, event: '设备编号',edit: 'text', align: 'center'},
					{field: '大类', title: '大类',width:150, align: 'center',templet: function(d){
						var options = viewObj.renderSelectOptions(viewObj.typeData, {valueField: "序号", textField: "大类", selectedValue: d.大类});
						return '<a lay-event="type"></a><select name="type" lay-filter="type"><option value="">请选择分类</option>' + options + '</select>';
					}},
					{field: '名称', title: '名称',width:60,align: 'center', event: '名称',edit: 'text'},
					{field: '规格', title: '规格', width:60,align: 'center', event: '规格',edit: 'text'},
					{field: '单位', title: '单位',width:60, align: 'center', event: '单位',edit: 'text'},
					{field: '数量', title: '数量', width:60,align: 'center', event: '数量',edit: 'text'},
					{field: '金额', title: '金额',width:60,align: 'center',  event: '金额',edit: 'text'},
					{field: '出厂时间', title: '出厂时间', width:90,event: '出厂时间',edit: 'text'},
					{field: '生产厂家', title: '生产厂家',width:90,align: 'center', event: '生产厂家',edit: 'text'},
					{field: '购置时间', title: '购置时间',width:90,align: 'center', event: '购置时间',edit: 'text'},
					{field: '规定使用年限', title: '规定使用年限',width:120,align: 'center', event: '规定使用年限',edit: 'text'},
					{field: '备注', title: '备注',width:90,align: 'center', event: '备注',edit: 'text'},
					{field: '记录人', title: '记录人',width:90,align: 'center', event: '记录人',edit: 'text'},
					{field: '记录时间', title: '记录时间',width:90,align: 'center', event: '记录时间',edit: 'text'},
					{field: '购买价格', title: '购买价格',width:90,align: 'center', event: '购买价格',edit: 'text'},
					{field: '设备负责人', title: '设备负责人',width:90,align: 'center', event: '设备负责人',edit: 'text'},
					{field: '机器原值', title: '机器原值',width:90,align: 'center', event: '机器原值',edit: 'text'},
					{field: '机器净值', title: '机器净值',width:90,align: 'center', event: '机器净值',edit: 'text'},
					{field: '使用部门', title: '使用部门',width:90,align: 'center', event: '使用部门',edit: 'text'},
					{field: '品牌', title: '品牌',width:90,align: 'center', event: '品牌',edit: 'text'},
					{field: '生产能力', title: '生产能力',width:90,align: 'center', event: '生产能力',edit: 'text'},
					{field: '使用日期', title: '使用日期', width:90,align: 'center',event: '使用日期',edit: 'text'},
					{field: '固定资产转移单', title: '固定资产转移单', width:150,align: 'center',event: '固定资产转移单',edit: 'text'},
					{field: '附件', title: '附件',width:90,align: 'center', event: '附件',edit: 'text'},
					{field: '使用状态', title: '是否启用',width:90,align: 'center', event: 'state', templet: function(d){
						var html = ['<input type="checkbox" name="state" lay-skin="switch" lay-text="是|否"'];
						html.push(d.使用状态 > 0 ? ' checked' : '');
						html.push('/>');
						return html.join('');
					}},	
							
					{field: 'id', title: '操作',width:90,align: 'center', templet: function(d){
						return '<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del" lay-id="'+ d.id +'"><i class="layui-icon layui-icon-delete"></i>移除</a>';
					}},
				]],
				done: function(res, curr, count){
					$("[data-field='flg']").css('display','none'); //关键代码
					viewObj.tbData = res.data;
				}
			});

			//选完文件后不自动上传
			var upload = upload.render({
				elem: '#upload-change'
				,url: '../../model/upload/excelUpload.php' //改成您自己的上传接口
				,auto: false
				,accept: 'file' //普通文件
				,exts: 'xls|excel|xlsx'
				//,multiple: true
				,dataType:'JSON'
				,bindAction: '#upload-change-action'
				,before: function(input){    
					var data = {};    
					data.field = "设备编号,大类,名称,规格,单位,数量,金额,出厂时间,生产厂家,购置时间,规定使用年限,备注,记录人,记录时间,"
					+"购买价格,设备负责人,使用状态,机器原值,机器净值,使用部门,品牌,生产能力,使用日期,固定资产转移单,附件";
					this.data=data;  
					}  
				,done: function(res){
					layer.msg(res.msg);
					if(res.msg=='上传成功'){
						var oldData = table.cache[layTableId];
						console.log(oldData);
						var newRow;
						for(var i=0; i< res.data.length;i++){
							var data=res.data[i];
							newRow = {id: new Date().valueOf(), 
							设备编号:data['设备编号'],
							大类:data['大类'],
							名称:data['名称'],
							规格:data['规格'],
							单位:data['单位'],
							数量:data['数量'],
							金额:data['金额'],
							出厂时间:data['出厂时间'],
							生产厂家:data['生产厂家'],
							购置时间:data['购置时间'],
							规定使用年限:data['规定使用年限'],
							备注:data['备注'],
							记录人:data['记录人'],
							记录时间:data['记录时间'],
							购买价格:data['购买价格'],
							设备负责人:data['设备负责人'],
							机器原值:data['机器原值'],
							机器净值:data['机器净值'],
							使用部门:data['使用部门'],
							品牌:data['品牌'],
							生产能力:data['生产能力'],
							使用日期:data['使用日期'],
							固定资产转移单:data['固定资产转移单'],
							附件:data['附件'],
							使用状态: 0,
							flg:'insert'};
							oldData.push(newRow);
						}
						tableIns.reload({
							data : oldData
						});
					}
				}

			});
		
			//定义事件集合
			var active = {
				addRow: function(){	//添加一行
					var oldData = table.cache[layTableId];
					console.log(oldData);
					var newRow = {id: new Date().valueOf(), 
									设备编号:null,
									大类:null,
									名称:null,
									规格:null,
									单位:null,
									数量:null,
									金额:null,
									出厂时间:null,
									生产厂家:null,
									购置时间:null,
									规定使用年限:null,
									备注:null,
									记录人:null,
									记录时间:null,
									购买价格:null,
									设备负责人:null,
									机器原值:null,
									机器净值:null,
									使用部门:null,
									品牌:null,
									生产能力:null,
									使用日期:null,
									固定资产转移单:null,
									附件:null,
									使用状态: 0,
									flg:'insert'};
					oldData.push(newRow);
					tableIns.reload({
						data : oldData
					});
				},
				updateRow: function(obj){
					var oldData = table.cache[layTableId];				
					console.log(oldData);
					for(var i=0, row; i < oldData.length; i++){
						row = oldData[i];
						if(row.id == obj.id){
							if(row.flg !='insert'){
								obj.flg='edit';
							}
							$.extend(oldData[i], obj);
							return;
						}
					}
					tableIns.reload({
						data : oldData
					});
				},
				removeEmptyTableCache: function(){
					var oldData = table.cache[layTableId];		
					for(var i=0, row; i < oldData.length; i++){
						row = oldData[i];
						if(!row || !row.id){
							oldData.splice(i, 1);    //删除一项
						}
						continue;
					}
					tableIns.reload({
						data : oldData
					});
				},
				save: function(){
					var oldData = table.cache[layTableId];
					var DataArr=[];	
					console.log(oldData);	
					for(var i=0, row; i < oldData.length; i++){
						row = oldData[i];
							if(!row.大类  ){
							layer.msg("检查每一行，请选择分类！", { icon: 5 }); //提示
							return;
						}
						if((row.flg=='insert'|| row.flg=='edit') && row.大类 ){
							DataArr.push(row);
						}
					}
				
					if(DataArr.length != 0){
						if(DataArr.length>1000){
							layer.msg('修改行数最大：1000！');
							return;
						}
						var msg =GetAndUpateData('UPIN','',DataArr,'');
						if(msg='保存成功'){
							var data =GetAndUpateData('SELECT_TB','','',tagIns2.values);
							if(data !=null){
								tableIns.reload({
									data : data
								});
							}
							layer.msg(msg);
						 }
					}else{
						layer.msg('无数据修改');
					}
				},
				reset: function(){
					tableIns.reload({
					data : GetAndUpateData('SELECT_TB','','',tagIns2.values),
					});
				},
				reload: function(){
						var data =GetAndUpateData('SELECT_TB','','',tagIns2.values);
						if(data !=null){
							tableIns.reload({
								data : data
							});
						 }

				}
					
			}
			
			//激活事件
            var activeByType = function (type, arg) {
				if(arguments.length === 2){					
					active[type] ? active[type].call(this, arg) : '';
				}else{
					active[type] ? active[type].call(this) : '';
				}
            }
			
            //注册按钮事件
            $('.layui-btn[data-type]').on('click', function () {
                var type = $(this).data('type');
                activeByType(type);
            });
			
			//监听select下拉选中事件
			form.on('select(type)', function(data){
				var elem = data.elem; //得到select原始DOM对象
				$(elem).prev("a[lay-event='type']").trigger("click");
			});
			
			 //监听工具条
            table.on('tool(dataTable)', function (obj) {
                var data = obj.data, event = obj.event, tr = obj.tr; //获得当前行 tr 的DOM对象;
				console.log(data);
                switch(event){
					case "type":
						//console.log(data);
						var select = tr.find("select[name='type']");
						if(select){						
							var selectedVal = select.val();
							if(!selectedVal){
								layer.tips("请选择一个分类", select.next('.layui-form-select'), { tips: [3, '#FF5722'] }); //吸附提示
							}
							console.log(selectedVal);
							$.extend(obj.data, {'大类': selectedVal});
							activeByType('updateRow', obj.data);	//更新行记录对象
						}
						break;
					case "出厂时间":
					case "记录时间":
					case "使用日期":
					case "购置时间":
								var field = $(this).data('field');
								laydate.render({
									elem: this.firstChild
									, show: true //直接显示
									, closeStop: this
									, done: function (value, date) {
										data[field] = value;
										//$.extend(obj.data, {field:value});	
										activeByType('updateRow', obj.data);
									}
								});
							break;
					case "设备编号":
					case "名称":
					case "规格":
					case "单位":
					case "数量":
					case "金额":
					case "生产厂家":
					case "规定使用年限":
					case "备注":
					case "记录人":
					case "购买价格":
					case "设备负责人":
					case "机器原值":
					case "机器净值":
					case "使用部门":
					case "品牌":
					case "生产能力":
					
					case "固定资产转移单":
						var nameVal = tr.find("td[data-field='"+event+"'] div").text();
						$.extend(obj.data, {event: nameVal})	
						activeByType('updateRow', obj.data);	//更新行记录对象
						break;	
					case "state":
						var stateVal = tr.find("input[name='state']").prop('checked') ? 1 : 0;
						$.extend(obj.data, {'使用状态': stateVal})	
						activeByType('updateRow', obj.data);	//更新行记录对象
						break;	
												
					case "del":
						layer.confirm('真的删除行么？', function(index){

							var msg=GetAndUpateData('DELETE',obj.data.id,'','');
							if(msg =='删除成功'|| obj.data.flg=='insert'){
							obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
							layer.close(index);
							activeByType('removeEmptyTableCache');
						  }else{
							  layer.alert(msg);
						  }
						});
						break;						
				}
			});
		});
	</script>
</body>
</html>