

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 角色管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
  <!--<link rel="stylesheet" href="../../static/style/admin.css" media="all"> -->
</head>
<body>

  <div class="layui-fluid">   
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
   
        <div class="layui-inline" style="width: 50%;">
          <label class="layui-form-label"  style="text-align: center;">角色筛选</label>
          <div class="layui-input-block" id="tag_ids2"></div>
        </div>
        <button class="layui-btn layuiadmin-btn-role" data-type="reload">搜索</button>
      </div>
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-role" data-type="batchdel">删除</button>
          <button class="layui-btn layuiadmin-btn-role" data-type="add">添加</button>
        </div>
      
        <table id="LAY-user-back-role" lay-filter="LAY-user-back-role"></table>  
        <script type="text/html" id="buttonTpl">
          {{#  if(d.check == true){ }}
            <button class="layui-btn layui-btn-xs">已审核</button>
          {{#  } else { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">未审核</button>
          {{#  } }}
        </script>
        <script type="text/html" id="table-useradmin-admin">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
      </div>
    </div>
  </div>

 <script src="../../static/layui/layui.js"></script>  
 <script src="../../static/modules/selectM.js" charset="utf-8"></script>  
  <script>
  layui.config({
    base: '../../static/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'table','selectM'], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table;
    var selectM = layui.selectM;
    			//获取基础数据
			var result='';
			function GetRoleData(type,role) {
					$.ajax({
						url:'../../model/admin/role.php',
								type:"post",
								dataType:"JSON",
								data:{'type':type,'role':role},
						async:false, 
						success: (data) => {
                if(data.msg='OK'){
                  result=data.data;
                }else{
                  result=data.msg;
                }
						},
						error:function(data){
						
							$.messager.alert('错误',data.msg);
						}
					})
			
				return result;
			};
		// 大类下拉框
		var roleData=GetRoleData('SELECT_R','');
		 //多选标签-所有配置
		var tagIns2 = selectM({
			//元素容器【必填】
			elem: '#tag_ids2'
			//候选数据【必填】
			,data: roleData
			//默认值
		//	,selected: [12,17] 			
			//最多选中个数，默认5
			,max : 6
			//input的name 不设置与选择器相同(去#.)
			,name: 'tag2'
			//值的分隔符
			,delimiter: ','
			//候选项数据的键名
			,field: {idName:'id',titleName:'rolename'}
    });

    var newData=GetRoleData('SELECT_TB','');
    var tableIns=table.render({ 
      elem: "#LAY-user-back-role", 
      //url: '../../model/admin/role.php', 
      data:newData,
      method:'post',
      loading: true,
      cols: [[{ type: "checkbox", fixed: "left" },
      { field: "id", width: 80, title: "ID", sort: !0 }, 
      { field: "rolename", title: "角色名" },
        { field: "limits", title: "拥有权限" },
        { field: "descr", title: "具体描述" }, 
        { title: "操作", width: 150, align: "center", fixed: "right", toolbar: "#table-useradmin-admin" }
    ]],
    text: "对不起，加载出现异常！" ,
    done: function(res, curr, count){
          newData = res.data;
				}
  });

  
  
    //事件
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-user-back-role')
        ,checkData = checkStatus.data; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }
        
        layer.confirm('确定删除吗？', function(index) {
            
          //执行 Ajax 后重载
          /*
          admin.req({
            url: 'xxx'
            //,……
          });
          */
          //tableIns.reload('LAY-user-back-role');
          tableIns.reload({
            data:GetRoleData('SELECT_TB',tagIns2.values),
          });
          layer.msg('已删除');
        });
      },
      add: function(){
        layer.open({
          type: 2
          ,title: '添加新角色'
          ,content: 'roleform.html'
          ,area: ['500px', '480px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
            ,submit = layero.find('iframe').contents().find("#LAY-user-role-submit");

            //监听提交
            iframeWindow.layui.form.on('submit(LAY-user-role-submit)', function(data){
              var field = data.field; //获取提交的字段
              
              //提交 Ajax 成功后，静态更新表格中的数据
              //$.ajax({});              
              table.reload('LAY-user-back-role');
              layer.close(index); //关闭弹层
            });  
            
            submit.trigger('click');
          }
        }); 
      },
      reload: function(){
        tableIns.reload({
          data:GetRoleData('SELECT_TB',tagIns2.values),
        });
        }
    }  
    $('.layui-btn.layuiadmin-btn-role').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
  </script>
</body>
</html>

