<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>物流配送信息网</title>
    <link href="../Public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../Public/css/base.css" rel="stylesheet" />
    <script src="../Public/js/jquery.min.js"></script>
    <script src="../Public/js/bootstrap.min.js"></script>
</head>
<body style="min-height:800px; height: auto">
<div class="container-fluid">
    <!--顶部导航开始-->
    <nav class="navbar navbar-default row no-yj  navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-list-left" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">物流配送信息网</a>
            </div>

            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-bell"><i class="label label-warning label-nav">66</i></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">哈哈哈</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-envelope"><i class="label label-success label-nav">6</i></i></a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">哈哈哈</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="height: 50px">
                        <img class="img-circle pull-left img-responsive nav-user-img" src="../Public/images/user.jpg" /><span class="pull-left nav-username">管理员</span></a>

                        <ul class="dropdown-menu dropdown-menu-right clearfix" style="padding-top: 0px">
                            <li class="user-li-head"><span>
                                    <img class="img-circle nav-user-img-xiala center-block" src="../Public/images/user.jpg" /></span>
                                <p></p>
                                <p class="text-center"><span>管理员</span></p>
                            </li>
                            <li style="padding: 10px 20px; padding-bottom: 20px">

                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat no-yj">设置</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat no-yj">退出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--顶部导航结束-->
    <!--左侧边栏开始-->
    <div class="row" style="margin-top:70px">
        <div class="  nav-left col-md-2 no-padding" id="nav-list-left">
            <div class="user-panel">
                <img src="../Public/images/user.jpg" class="img-circle center-block" />
            </div>
            <div class="nav-list" >
                <ul>
                    <li>
                        <a href="#">车源信息查询</a>
                    </li>
                    <li>
                        <a href="#">发货单</a>
                    </li>
                    <li>
                        <a href="#">回执发货单确认</a>
                    </li>
                    <li>
                        <a href="#">发货单查询</a>
                    </li>
                    <li>
                        <a href="#">客户信息管理</a>
                    </li>
                    <li>
                        <a href="#">车源信息管理</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--右侧主区域开始-->
        <div class="main-right  col-md-10 col-md-offset-2">
            <div class="col-md-12">
                <div class="panel panel-default ">
                    <div class="panel-heading text-center">
                        路线：
                        <input type="text">
                        至
                        <input type="text">
                        <button class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered tb-hover" style="margin-bottom: 5px; ">
                            <thead>
                            <tr>
                                <td>车牌号码</td>
                                <td>路线</td>
                                <td>车辆描述</td>
                                <td>使用日志</td>
                                <td>是否使用</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>吉A-78745</td>
                                <td>长春-沈阳-大连</td>
                                <td>大货车,直径3.8米,后直径4.12米,长24米,载重52吨</td>
                                <td>133333333333</td>
                                <td class=" text-center"><a href="#"><i class="glyphicon glyphicon-edit">预订该车</i></a></td>
                            </tr>
                            <tr>
                                <td>吉A-78745</td>
                                <td>长春-沈阳-大连</td>
                                <td>大货车,直径3.8米,后直径4.12米,长24米,载重52吨</td>
                                <td>133333333333</td>
                                <td class=" text-center"><a href="#"><i class="glyphicon glyphicon-edit">预订该车</i></a></td>
                            </tr>
                            <tr>
                                <td>吉A-78745</td>
                                <td>长春-沈阳-大连</td>
                                <td>大货车,直径3.8米,后直径4.12米,长24米,载重52吨</td>
                                <td>133333333333</td>
                                <td class=" text-center"><a href="#"><i class="glyphicon glyphicon-edit">预订该车</i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<?php echo $pages?>-->
                    <div class="text-right" style="padding-right: 10px">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li ><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="active"><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--右侧主区域结束-->
        <!--底部信息开始-->
        <div class="col-md-offset-2 text-center">
            <p>明日科技  吉ICP备 07500273号</p>
            <p>Copyright@2017吉林省明日科技有限公司</p>
        </div>
        <!--底部信息结束-->
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".dropdownMenu").dropdown();
        $(".nav-left-dropdown>a").click(function () {
            if ($(this).attr("d") != 1 && $(this).attr("d") != undefined) {
                $(this).removeClass("nav-left-dropdown-a");
                $this = $(this);
                $(this).next("ul").slideUp(300, function () { $this.removeClass("nav-left-bottrom-border"); $this.removeClass("nav-left-dropdown-ul") });

                $(this).attr("d", "1");
            } else {
                $(this).addClass("nav-left-dropdown-a");
                $(this).addClass("nav-left-bottrom-border");
                $(this).next("ul").addClass("nav-left-dropdown-ul").slideDown(300);
                $(this).attr("d", "2");
            }
        })
    });
</script>
</body>
</html>

